<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nebula</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Nebula</h1>
        <form action="/add_resistor" method="post">
            <label for="resistance">Enter Resistance Value (Ohms):</label>
            <input type="number" id="resistance" name="resistance" required>
            <button type="submit">Add Resistor</button>
        </form>
        <button type ="button"> <a href="/calculate_series_resistance">Calculate Series Resistance</a></button>
        <button type ="button"><a href="/calculate_parallel_resistance" style="margin-left: 20px;">Calculate Parallel Resistance</a></button>
        <br><br>
        <form action="/calculate" method="post">
            <label for="current">Enter Current Value (Amperes):</label>
            <input type="number" id="current" name="current" required>
            <label for="connection_type">Select Connection Type:</label>
            <select id="connection_type" name="connection_type">
                <option value="series">Series</option>
                <option value="parallel">Parallel</option>
            </select>
            <button type="submit">Calculate Total Power</button>
        </form>
       
        <p>{{ message }}</p>
    </div>
</body>
</html>
